<% # ========================================================================
   # Generic Unit Test Template
   # This template is used when you include a .js file in your unit tests.
   # ========================================================================
%>
<% content_for('final') do %>

<script>
<%= unit_test %>
</script>

<% end %>