<%% # ========================================================================
   # <%= file_name.gsub('_', ' ').titleize %> Unit Test
   # ========================================================================
%>
<%% content_for('final') do %>

<script>

Test.context("<%= file_name.gsub('_', ' ').titleize %>",{

  "TODO: Add your own tests here": function() {
    true.shouldEqual(true) ;
  }

}) ;

if (window.main && (appMain = main)) main = null ; 

</script>

<%% end %>