/* @override 
	http://localhost:4020/static/sc_docs/en/_cache/body-1208633994.css
	http://localhost:4020/static/sc_docs/en/_cache/body-1208635640.css
*/

/* @group Core */

body {
	position: absolute ;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	padding: 0;
	margin: 0;
	overflow: hidden ;
}

.workspace .sidebar {
	position: absolute;
	left:  0;
	top:  0;
	width: 200px;
	bottom: 0;
}

.sc-theme .workspace.horizontal .sc-split-divider-view {
  position: absolute;
  left: 200px;
  top: 0;
  bottom: 0;
}

.workspace .document_view {
	position: absolute;	
	left: 205px;
	right: 0;
	top: 0;
	bottom: 0;
	border: none ;
	background-color: #aaa ;
}

.left.app-label {
 	padding-top: 5px;
}

.sc-theme .app-label .sc-label-view {
	text-shadow: white 0px 1px 0px;
	font-weight: bold ;
	font-size: 15px;
}

.app-label img {
	width: 27px;
	height: 27px;
	vertical-align: middle;
	position: relative ;
	top: -3px;
	margin-right: 2px;
}

/* @end */

/* @group Sidebar */

.sidebar .source_list {
	position: absolute ;
	top: 0;
	left:  0;
	right: 0;
	bottom: 0;
	border: none ;
}

/* @end */

/* @group Content */

.document_view iframe {
	position: absolute ;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	border: none ;
	padding: 0;
	margin: 0;
	background: white;
}

.document_view .rebuilding_tab .dialog {
	position: absolute ;
	background: #f0f0f0;
	padding: 20px;
	border: 8px #888 solid ;
	width: 400px;
	top: 100px;
	left: 50%;
	margin: 0;
	margin-left: -240px;
	text-align: center ;
}

.document_view .rebuilding_tab .dialog h1 {
	font-size: 20px ;
	margin: 0;
	padding: 0;
}

/* @end */

