
<% view :no_docs_panel, :width => 400 do %>
<div>
  <h1>Client Has No Documents</h1>
  <p style="font-size: 15px;">This client does not currently have any unit tests.  To add a unit test, open a terminal to the root directly and type:</p>
  <p style="font-size: 15px; text-align:center;"><code>./script/generate sc_test <%= label_view :outlet => true, :tag => 'span', :bind => { :content => 'Docs.docsController.clientName' } %>/<b>test_name</b></code></p>
  </div>
<% end %>