
/* @group Core */

body.sc-doc {
  background-color: white  ;
  padding: 20px;
}

.sc-doc {
	font-family: "Lucida Sans", "Lucida Grande", Verdana, Arial, sans-serif;
	font-size: 10px;
	line-height: 1;
}

/* Set standard size on some things. */
.sc-doc p, 
.sc-doc dd, 
.sc-doc dt, 
.sc-doc li, 
.sc-doc table {
	font-size: 12px;
	line-height: 1.4;
}

hr
{
  color: #888;
}

.sc-doc h1 {
  font-size: 3em;
  margin: 0 0 1em 0;
  text-transform: capitalize;
}

.sc-doc h2 {
  padding: 0;
  padding-bottom: 3px;
  border-bottom: 1px #aaa solid;
  text-transform: capitalize;
  margin: 2em 0 0.5em;
  font-size: 2.2em;
}

.sc-doc h3 {
  font-size: 1.5em;
  padding: 0;
  margin: 1em 0 0 0;  
}

.sc-doc h4 {
  font-weight: normal ;
  font-size: 1.4em;
  margin: 0.5em 0 0 0;
  padding: 0;
}

.sc-doc h5 {
  font-size: 1.3em;
  padding: 0;
  margin: 1.3em 0 0.5em 0;
}

.sc-doc p { margin: 1.5em 0; }
 
.sc-doc a {
  text-decoration: none ;
}

.sc-doc label {
  font-weight: bold ;
}

.sc-doc .sc-theme .ghost {
  -moz-user-select: none;
  -khtml-user-select: none;
  user-select: none;
  opacity: 0.45;
  -moz-opacity: .45 ;
}

.sc-doc dt {
  font-style: italic;
  line-height: 2;
}

.sc-doc dd {
 margin: 0 1em 1em 1em;
}

/* @end */

/* @group Summary Table */

.sc-doc table.summary {
  min-width: 600px;
  border: 1px #999 solid;
  border-bottom: none ;
  border-spacing: 0;
  margin-bottom: 2em;
}

.sc-doc table.summary td {
  border-bottom: 1px #999 solid;
  border-collapse: collapse;
  padding: 0.5em;
  text-align: left ;
}

.sc-doc table.summary .even td {
  background-color: #eef;
}

.sc-doc table.summary td.label {
  font-weight: bold ;
  width: 100px;
  text-align: right ;
  padding-right: 4px;
}

.sc-doc table.summary td.value {
  min-width: 300px;
  width: 300px;
}

/* @end */

/* @group Field & Method Summary */

.sc-doc .summary li {
  list-style-type: none ;
  position: relative;
}

.sc-doc .summary li code {
  font-size: 1em;
}

.sc-doc .summary li .description {
  display: none ;
}

.sc-doc .summary li:hover .description {
  display: block ;
  font-size: 1em;
  position: absolute ;
  left: 80px;
  bottom: 2em;
  padding: 0.3em 1em ;
  background-color: #fff898;
  border: 1px solid #bbae2f;
  -webkit-box-shadow: rgba(0,0,0,0.3) 0px 2px 5px;
  color: #4b4000;
  z-index: 100;
}

/* @end */

/* @group Detail */

.sc-doc .detail p.signature {
  padding: 0;
  margin: 1em 0;
  font-family: Courier, mono;
}

.sc-doc .detail p.signature .type, .sc-doc .detail p.parameter .type {
  font-style: italic;
}

.sc-doc .detail p.signature .name, .sc-doc .detail p.parameter .name {
  font-weight: bold ;
  padding-left: 5px;
}

.sc-doc .detail p.parameter .desc, .sc-doc .detail p.signature .params  {
  font-style: italic ;
  color: #555;
  padding-left: 5px;
}

/* @end */

.sc-doc .jsdoc_ctime {
  border-top: 1px #ccc solid ;
  padding: 4px 0;
  margin-top: 20px;
  margin-bottom: 0px;
  font-size: 1.0em;
  text-align: center ;
  color: #888 ;
}

/* @group Description */

.sc-doc .description blockquote,
.sc-doc .description blockquote,
.sc-doc .description p.code {
  padding:  10px ;
  margin: 10px 20px;
  background-color: #f5f5f5 ;
  border: 1px #ccc solid ;
}

/* @end */

span.sc-label  
{
  text-overflow:ellipsis;
  white-space:nowrap;
  overflow: hidden;
  width: 50px;
}

/* @group Index */

#index {
	padding-bottom: 2em;
}

#index > div {
	clear: both;
	position:  relative;
	font-size: 12px;
	padding: 10px;
	padding-left: 220px;
	min-height: 14px;	
	border-bottom: 1px #ddd solid;
}

#index hr {
	display: none;
}

#index h2 {
	font-size: 14px;
	border: none;
	position: absolute;
	left: 0;
	top: 50%;
	height: 14px;
	margin: 0;
	margin-top: -7px;
	width: 200px;
	text-align: right;
}

#index h2 a {
	padding: 2px;
}

#index h2 a:hover {
	background-color: blue;
	color: white;
}

/* @end */

